/* Fix conflic with bootstrap grid and woocommerce columns */
.override .woocommerce-billing-fields .form-row, .override .woocommerce-shipping-fields .form-row, .override .woocommerce form .form-row { display: block; }
.override .woocommerce .col2-set .col-1, .override .woocommerce-page .col2-set .col-1, .override .woocommerce .col2-set .col-2, .override .woocommerce-page .col2-set .col-2 { max-width: unset; }

.override .woocommerce .products .product { box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12); border-radius: 4px; }
.override .woocommerce .products .product img { margin: 0; }
.override .woocommerce .products .product .woocommerce-loop-product__title, 
.override .woocommerce .products .product .price { padding: 5px 10px; margin: 0; } 
.override .woocommerce .products .product .button { width: 100%; text-align: center; margin-top: 0; }

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}