/**
 *
 *  Theme Name: Default Theme
 *	Theme URI: https://carlo-fontanos@bitbucket.org/carlo-fontanos/default-wordpress-template.git
 *  Author: Carl Victor C. Fontanos
 *  Author URI: http://www.carlofontanos.com/
 *  Version: 99
 *	License: GNU General Public License v2 or later
 *	License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *	Tags: gray, white, light, responsive-layout, accessibility-ready, custom-menu
 *	Text Domain: my-domain
 *	Description: A foundation for building WordPress Themes
 * 
 */

h1 { font-size: 42px; padding-top: 29px; }
h1, h2, h3, h4 { font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif; font-style: normal; font-weight: 400; line-height: 1.25; letter-spacing: 0; margin-bottom: .5rem; }

body { font-size: 21px; color: rgba(0,0,0,.84); --x-height-multiplier: 0.375; --baseline-multiplier: 0.17; font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; font-weight: 400; font-style: normal; line-height: 1.58; letter-spacing: -.003em; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

.header-wrapper { }
.banner-wrapper { }
.front-page-wrapper, .inner-page-wrapper {}
.footer-wrapper {}

.header { }

.banner { min-height: 200px; }

.content { min-height: 300px; }
.content ul, .content p { padding-top: 29px; margin: 0; }

.footer { margin-top: 30px; margin-bottom: 20px; }
.footer ul { margin: 0; padding: 0;  }
.footer ul li { display: inline-block; margin-right: 10px; }

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    body { font-size: 18px; }
    p { margin-top: 21px; }
    h1 { font-size: 34px; }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}